<div class="container" *ngIf="gameStatus === 'playing'">
    <app-hangman-status [attempts]="attempts" [maxAttempts]="maxAttempts"></app-hangman-status>
    <div>
      <h1 class="hidden-word">{{ hiddenWord.join(' ') }}</h1>
      <app-keyboard (letterClicked)="guess($event)" [usedLetters]="usedLetters"></app-keyboard>
    </div>
  </div>
  <div class="container" *ngIf="gameStatus === 'won'">
    <h1 class="message">¡Ganaste!</h1>
    <button (click)="restartGame()">Reiniciar</button>
  </div>
  <div class="container" *ngIf="gameStatus === 'lost'">
    <h1 class="message">Perdiste. La palabra era {{ word }}</h1>
    <button (click)="restartGame()">Reiniciar</button>
  </div>
  
